﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active imgContainer">
            <img src="~/images/Background.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Welcome
                </p>
            </div>
        </div>
        <div class="item imgContainer">
            <img src="~/images/Background.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    To
                </p>
            </div>
        </div>
        <div class="item imgContainer">
            <img src="~/images/Background.jpg" alt="Elias" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Elias
                </p>
            </div>
        </div>
        <div class="item imgContainer">
            <img src="~/images/Background.jpg" alt="Page" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    TestPage
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>