﻿@model AplicacionUsuarioAC.Models.Usuario

<tr id="@Model.Email" name="@Model.Nombre" class= "">
    <td>
        @Html.DisplayFor(modelItem => Model.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Pais)
    </td>
    <td id="fecha">
        @Html.DisplayFor(modelItem => Model.FechaUltimoLogin)
    </td>
    <td>
        @(Model.Estado ? "Activo" : "Suspendido")
    </td>
</tr>