﻿@model AplicacionUsuarioAC.Models.Usuario

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Nuevo Usuario</h4>
        </div>
        <div class="modal-body">
            <form id="nuevo-usuario">
                <div class="controls span6">
                    <div class="form-group">
                        @Html.LabelFor(u => u.Nombre, new { @class = "control-label" })
                        @Html.TextBox("Nombre", "", new { @class = "form-control", @type = "text", placeHolder = "Introduzca su nombre" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Email, new { @class = "control-label" })
                        @Html.TextBox("Email", "", new { @class = "form-control", @type = "text", placeHolder = "Introduzca su email" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Pais, new { @class = "control-label" })
                        @Html.TextBox("Pais", "", new { @class = "form-control", @type = "text", placeHolder = "Introduzca el pais donde vive" })
                    </div>
                </div>
                
                <div class="controls span6">
                    <div class="form-group">
                        @Html.Label("Estado", "Activo/Suspendido", new { @class = "control-label" })
                        @Html.CheckBox("Estado", false, new { @class = "" })
                    </div>
                </div>
            </form>
        </div><!-- /.modal-body-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="save" type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


