﻿@model IEnumerable<AplicacionUsuarioAC.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";  
}
Filtrar: <input id="filtrar" class="filtro" placeholder="introduzca el nombre del usuario..."/>

<table id="tablaUsuarios" class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayName("Ultima conexión")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>
    </thead>

    @foreach (var usuario in Model)
    {
        var tresMeses = usuario.FechaUltimoLogin.CompareTo(DateTime.Now.AddMonths(-3));
        var unMes = DateTime.Now.AddMonths(-1);
        string clase = string.Empty;

        if ( tresMeses >= 0)
        {
            if (usuario.FechaUltimoLogin.CompareTo(unMes) <= 0)
            {
                clase = "amarillo";
            }

        }else
        {
            clase = "rojo";

        }

        <tr id="@usuario.Email" name="@usuario.Nombre" class="@clase">
            <td name="nombre">
                @Html.DisplayFor(modelItem => usuario.Nombre)
            </td>
            <td name="email">
                @Html.DisplayFor(modelItem => usuario.Email)
            </td>
            <td name="pais">
                @Html.DisplayFor(modelItem => usuario.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.FechaUltimoLogin)
            </td>
            <td name="estado">
                @(usuario.Estado ? "Activo" : "Suspendido")
            </td>
            <td >
                <span  class="eliminar glyphicon glyphicon-remove"/>
            </td>
        </tr>
    }

</table>

<button class="btn btn-default agregar">Agregar usuario</button>

<div class="modal" id="modal"></div>



<environment names="Development">
    <link rel="stylesheet" href="~/css/usuarios.css"/>
    <script src="~/js/usuarios.js" asp-append-version="true"></script>
</environment>